*.DS_Store
bin
target
.classpath
.project
.settings
src/main/webapp/META-INF
.idea
*.iml
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/_1.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/server-config.json
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/2efcfdc0f39809f432f2618c7ed3df33/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/2efcfdc0f39809f432f2618c7ed3df33/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/2efcfdc0f39809f432f2618c7ed3df33/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/2efcfdc0f39809f432f2618c7ed3df33/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.6.2.20150902-0002.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.haudo_18/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.haudo_18/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.haudo_18/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.tm.terminal.connector.local/.executables/data.properties
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.common.snippets/hidden.xml
.metadata/.plugins/org.eclipse.wst.common.snippets/user.xml
.metadata/version.ini
